<div
  class="w-full h-20 shadow dark:bg-gray-900 text-white flex items-center justify-between font-bold px-4 md:px-8"
>
  <div class="w-1/2 h-full flex items-center justify-start">
    <a href="/u/home/"><button class="m-4 w-20 h-8 rounded-full hover:bg-red-500">HOME</button></a>
  </div>
  <div class="w-1/2 h-full flex items-center justify-end">
    <div class="h-full flex items-center">
      <a href="/u/profile/">
        <button class="m-4 w-28 pl-2 h-8 rounded-full bg-red-400 text-white flex items-center justify-between font-bold hover:bg-red-500">
          <div class="flex items-center w-full">
            <i class="material-icons mr-2">account_circle</i>
            <span>PROFILE</span>
          </div>
        </button>
      </a>
      <a href="/logout/"><button class="m-4 w-20 h-8 rounded-full bg-red-400 text-white font-bold hover:bg-red-500">
        LOGOUT
      </button></a>
    </div>
  </div>
</div>
