{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This website was made to showcase my skill in Django-web-practice.">
    <link rel="manifest" href="/static/manifest.json">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>DWP-HOME</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="h-screen">
      <div class="max-w-14 mx-auto flex flex-col h-full">
        {% include 'user/header.html' %}
        <div class="w-full p-9">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            quibusdam ullam neque voluptatibus corporis cum eum ipsum dolorem
            quae harum incidunt quidem, illo iure vel esse sint! Dolore qui
            cupiditate ullam alias dolores natus! Nisi dolorum voluptate
            suscipit, possimus tempore, pariatur id, ut voluptatibus deleniti
            cum fugiat sequi earum quia quod hic praesentium. Praesentium
            quaerat soluta quibusdam suscipit dicta numquam sed commodi, dolore
            fugiat adipisci. Quas beatae voluptatum omnis laboriosam, laborum
            recusandae voluptatibus voluptates placeat illum perspiciatis, nisi
            magni? Corrupti sequi quam earum aperiam tempore aut reiciendis quae
            assumenda veritatis officiis possimus totam doloribus, recusandae
            eligendi debitis. Vel, accusantium? Hic, libero cupiditate dolore
            eius ex, quas suscipit dignissimos culpa perferendis tempore error
            quidem, esse impedit et laborum fugit eos harum sequi. Culpa
            adipisci pariatur, ab porro autem quibusdam nostrum voluptatibus,
            iure ipsa non repudiandae fugiat ratione, eligendi temporibus!
            Quidem, quibusdam aliquid? Doloremque, tempore necessitatibus
            voluptates dolor aut earum sunt nulla esse illo maiores officiis
            cum, id autem, commodi quia amet reiciendis soluta tenetur porro
            tempora sit error? At quo enim quae, soluta vero quam dolorum
            doloribus repudiandae eveniet, dolorem amet laborum distinctio
            possimus, dignissimos officiis tempora voluptate quia fugiat placeat
            porro. Saepe tempora reiciendis, ipsam maxime consectetur voluptatum
            debitis aspernatur corporis animi iusto delectus mollitia, at
            quibusdam ipsum ratione voluptas libero alias quod velit! Reiciendis
            perferendis ab asperiores, adipisci itaque quod quis odio corporis
            placeat facere quidem nesciunt nihil, aspernatur harum tempora. Ea
            itaque qui ab ut sint tenetur ipsam nemo, nobis beatae in,
            repellendus nihil sed accusamus! Minus dolorum recusandae laudantium
            eligendi magnam dicta dolores labore omnis animi quibusdam? Eligendi
            dignissimos, omnis ut consequuntur voluptatibus, deleniti tempore
            odio unde ratione nam, natus illum tenetur obcaecati iure optio
            accusamus voluptates voluptatum. Quidem in, molestiae repudiandae
            expedita, at rerum cumque odio nobis nulla optio delectus, quis
            tempora quo error non illo ipsa reiciendis corrupti dolorum enim
            placeat? Beatae voluptatem a ratione quas assumenda numquam nam sit
            id nisi fugit alias eum consectetur, minima explicabo non ea
            veritatis voluptas ullam cumque aliquid labore autem laboriosam
            vitae. Nulla, animi dolores? Beatae rem rerum consequuntur impedit
            mollitia ratione atque enim assumenda aperiam voluptate, laboriosam
            possimus explicabo? Odio voluptas rerum quisquam earum vel aliquid
            quo, dolores minus, molestias suscipit animi reprehenderit nisi
            consequuntur cumque quod. Maiores, praesentium quod. Doloribus,
            beatae. Pariatur, totam exercitationem mollitia perspiciatis ullam
            fugit ipsum laborum cupiditate. Voluptatem inventore voluptate
            doloribus magnam dolor, cupiditate omnis temporibus labore. Unde
            provident, odio repellendus minima iure facere magnam corporis
            adipisci porro libero ipsum architecto nobis animi, praesentium vel
            tempore perferendis. In nemo suscipit praesentium rem reiciendis
            natus libero maxime, voluptatem qui ab. Ex recusandae blanditiis quo
            laboriosam fugit doloribus! Dolorem facere sit non sequi, officiis
            quia, accusamus facilis sint cupiditate doloribus harum ullam.
            Dolorem temporibus cupiditate voluptatibus ipsa velit quae
            perferendis dolorum id magnam adipisci delectus vero natus nemo
            sapiente maiores asperiores voluptatum, dignissimos sequi tempore
            quaerat atque et esse. Error, provident neque quae sequi pariatur
            numquam quis facilis nihil, sed enim fugit illo, repellat quos
            laborum inventore. Labore sed tempora excepturi recusandae
            distinctio quibusdam?
          </p>
        </div>
        <div class="mt-auto">{% include 'footer.html' %}</div>
      </div>
    </div>
  </body>
</html>
