<div
  class="w-full h-20 shadow dark:bg-gray-900 text-white flex items-center justify-between font-bold p-4 md:py-8"
>
  <div class="w-1/2 h-full flex items-center justify-start">
    <a href="/"><button class="m-4 w-20 h-8 rounded-full hover:bg-red-500">HOME</button></a>
  </div>
  <div class="w-1/2 h-full flex items-center justify-end">
    <a href="/login/"><button class="m-4 w-20 h-8 rounded-full hover:bg-red-500">LOGIN</button></a>
    <a href="/register/"><button class="m-4 w-20 h-8 rounded-full hover:bg-red-500">REGISTER</button></a>
  </div>
</div>
