{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This website was made to showcase my skill in Django-web-practice.">
    <link rel="manifest" href="/static/manifest.json">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>DWP-REGISTER</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="h-screen">
      <div class="max-w-14 mx-auto flex flex-col h-full">
        {% include 'guest/header.html' %}
        <div class="w-full p-9">
          <div class="p-5 px-auto">
            <form
              name="register-form"
              id="register-form"
              action="/register/"
              method="POST"
            >
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input
                  name="username"
                  type="text"
                  class="form-control rounded-3"
                  id="floatingInput"
                  placeholder="Username"
                />
                <label for="floatingInput">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  name="email"
                  type="email"
                  class="form-control rounded-3"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  name="password"
                  type="password"
                  class="form-control rounded-3"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">Password</label>
              </div>
              {% if messages %} {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" id="msg" role="alert">
                {{ message}}
              </div>
              {% endfor %} {% endif %}
            </form>

            {% if error_message != ""%}
            <div class="text-danger mb-1">
              <small>{{error_message}}</small>
            </div>
            {% endif %}
            <button
              class="w-100 mb-2 bg-green-300"
              type="submit"
              form="register-form"
            >
              SIGNUP
            </button>
            <small class="text-muted">If you don't have an account yet</small>
            <a href="{% url 'register' %}">Sign up for user</a>
            <small class="text-muted">or</small>
            <a href="{% url 'register' %}">admin</a>
          </div>
        </div>
        <div class="mt-auto">{% include 'footer.html' %}</div>
      </div>
    </div>
  </body>
</html>
