@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-14 {
  max-width: 1400px;
}

.min-vh-4\/5 {
  min-height: 80vh;
}

.min-vh-7\/10 {
  min-height: 70vh;
}

.min-vh-8\/12 {
  min-height: 78vh;
}